.page {

}

.ref {
  border: 1px solid black;
  border-radius: 6px;
  padding: 10px;
}

.btn1 {
  border-radius: 6px;
  padding: 10px;
  background-color: papayawhip;
  
}

.btn1:hover {
  cursor: pointer;
}

.btn2 {
  border-radius: 6px;
  padding: 10px;
  background-color: tomato;
 
}


.btn2:hover {
  cursor: pointer;
}


.msg {

}

.reset {

}